<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dictionaries Management System</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" 
              integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
              crossorigin="anonymous">
        <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
            <div class="container p-3 mb-2 bg-light text-dark">           
                <h1 th:text="${headerInfo}"></h1>
                <!--<a th:href ="@{/newDictionaryForm}" class="btn btn-primary mb-2 col-2"> Add Dictionary </a>-->
                <a th:href ="@{/dms/newItemForm/{dictionaryId}(dictionaryId=${dictionaryId})}" class="btn btn-primary mb-2 col-2"> Add Item </a>
                <a th:href ="@{/dms}" class="btn btn-secondary mb-2 col-2"> Go to Dictionaries </a>
                <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <table border="2" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Term</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Alias</th>
                            <th>Dictionary</th>
                            <th>Subdictionary</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${itemList}">
                            <td th:text="${item.term}"></td>                          
                            <td th:text="${item.description}"></td>
                            <td th:text="${item.status}"></td>
                            <td th:text="${item.alias}"></td>
                            <td th:text="${item.dictionaryName}"></td>
                            <td><input type="checkbox" style="width: 20px; height: 20px" name="active" disabled="true" th:checked="${item.isSubdictionary}" /></td>
                            <td> 
                                <a th:href="@{/dms/updateItemForm/{currDictionaryId}/{id}(currDictionaryId=${dictionaryId},id=${item.id})}" class="btn btn-primary" style="width: 80px">Update</a> 
                                <span th:if="${item.status == 'Active'}">
                                    <a th:href="@{/dms/deactivateItem/{currDictionaryId}/{itemId}(currDictionaryId=${dictionaryId},itemId=${item.id})}" class="btn btn-warning" style="width: 100px">Deactivate</a>
                                </span>
                                <span th:unless="${item.status == 'Active'}">
                                    <a th:href="@{/dms/activateItem/{currDictionaryId}/{itemId}(currDictionaryId=${dictionaryId},itemId=${item.id})}" class="btn btn-success" style="width: 100px">Activate</a>
                                </span>
                                <a th:href="@{/dms/deleteItem/{currDictionaryId}/{itemId}(currDictionaryId=${dictionaryId},itemId=${item.id})}" class="btn btn-danger" style="width: 80px">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </body>
</html>
